body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(8, 240, 104);
    color: rgb(8, 8, 8);
  }
  
  .navbar-laravel {
    background-color: rgb(12, 12, 12);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  
  .navbar-brand {
    color: #fff !important;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .table-dark {
    color: #fff;
  }
  
  .list-group-item {
    border-color: #fff;
    background-color: rgb(9, 241, 79);
  }
  
  .login-box {
    background-color: rgba(13, 245, 129, 0);
  }
  
  .login-header {
    background-color: rgba(9, 245, 99, 0.25)
  }
  
  .login-body {
    background-color: rgba(8, 245, 87, 0.25);
  }